// colors
$accent-color: hsl(259, 100%, 65%);
$errors-color: hsl(0, 100%, 67%);
$card-color: hsl(0, 0%, 100%);

// unknowns colors
$un1: hsl(0, 0%, 94%);
$un2: hsl(0, 0%, 86%);
$un3: hsl(0, 1%, 44%);
$un4: hsl(0, 0%, 8%);

// fonts
$ff: "Poppins", sans-serif;
$fs-inputs: 32px;
$fw-regular: 400;
$fw-bold: 700;
$fw-exta-bold: 800;
