// colors
$accent-color: hsl(259, 100%, 65%);
$errors-color: hsl(0, 100%, 67%);
$card-color: hsl(0, 0%, 100%);
$background-color: hsl(0, 0%, 94%);
$date-color: hsl(0, 0%, 8%);
$input-color: hsl(0, 1%, 44%);
$borders-color: hsl(0, 0%, 86%);

// fonts
$ff: "Poppins", sans-serif;
$fs-inputs: 32px;
$fw-regular: 400;
$fw-bold: 700;
$fw-extra-bold: 800;

// dimensions
$tablet-width: 1000px;
$mobile-width: 800px;
